// Color Pallete

// $primary :rgba(172, 255, 47, 0.8);
// $active : green;
// $shadow : black;
// $foreground : white;
// $overlay : rgba(76, 76, 76, 0.8);
// $caption: rgba(0, 0, 0, 0.5);

$primary : rgba(255, 255, 0, 0.98);
$footer : black;
$active : orange;
$shadow : black;
$foreground : white;
$overlay : rgba(255, 255, 255, 0.321);
$accent: rgba(0, 0, 0, 0.506);
$caption: rgba(0, 0, 0, 0.554);

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[class *= "col"]:not(button){
    padding: 1.5rem;
}

[class *= "card"]{
    border-radius: 0rem;
}

[class *= "primary"]{
    color: black ;
    border-color: $primary;
}

[class*="info"]{
    font-weight: bold;
    font-size: larger;
    color: $primary !important;
}
span,
p,
.row{
    background-color: transparent;
}

em,
address{
    margin: 0rem;
    background-color: transparent;
}
ul{
    background-color: transparent;
}
ul li{
    font-size: larger;
    font-weight: bolder;
    background-color: transparent;
}

a {
    color: $primary;
}

button.bg-primary:focus{
    background-color: $primary !important;
}

:not(:disabled):not(.disabled).active.btn-primary, 
:not(:disabled):not(.disabled).btn-primary:active, 
.show > .dropdown-toggle.btn-primary,
a.bg-primary:focus, 
a.bg-primary:hover, 
button.bg-primary:hover,
[class *= "primary"]:hover{
    color: $foreground;
    box-shadow: 0px 0px 10px $shadow !important;
    border-color: transparent;
    background-color: $active !important;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

a:hover:not(#email), i:hover{
    text-shadow: 0px 0px 3px $shadow;
    color: $active;
}

.bg-primary, .btn-primary{
    background-color: $primary !important;
}

.title{
    text-shadow: 0px 0px 15px $shadow;
    font-weight: 500;
}

.flex-item-start{
    align-items: flex-start;
}

.flex-item-end{
    align-items: flex-end;
}

.flex-item-center{
    align-items: center;
}

.bg-caption{
    background: $caption;
}

.bg-accent {
    background: $accent;
}

.overlay{
    background: $overlay;
    color: $primary;
    margin: 0rem;
}

.background{
    background: url(/src/image/tim-mossholder-572791-unsplash.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    // background-position-y: -12rem;
    border-radius: 0rem;
}

#email{
    color: $footer;
}

// Social Media Link
nav a{
    margin-bottom: 1rem;
    color: $primary;
    font-size: smaller;
    text-shadow: 0px 0px 5px $shadow;
}

nav a i {
    margin-right: 2rem;
    margin-bottom: .5rem;
}
.social-media{
    width: 3rem ;
    height: 3rem ;
    vertical-align: top;
    margin-left: 1.5rem;
}

.card-img-overlay{
    padding: 0rem;
}

.after{
    transition: opacity 400ms ease-in;
}

.text-overlay {
    // background-color: $primary;
    padding-top: 1rem;
    color: $primary;
    font-size: 3rem;;
    top: 80%;
}

.trademark{
    font-size: x-large;
}

.display-3{
    line-height: .75;
}
 
o-80{
    opacity: .8;
}

.footer{
    font-weight: 300;
    color: $footer;
    background-color: white;
    // font-size: larger;
}

@media (min-width: 0px){
    .text-overlay{
        font-size: .75rem;
        top: 75%;
        padding-top: 0rem;
    }
    .title{
        font-size: 2.25rem;
    }
}
@media (min-width: 276px){
    .text-overlay{
        font-size: .85rem;
        top: 75%;
        vertical-align: middle;
    }
    .title{
        font-size: 3.5rem;
    }
}
@media (min-width: 360px){
    .text-overlay{
        font-size: 1rem;
        top: 80%;
        vertical-align: middle;
        padding-top: .75rem;
    }
    .title{
        font-size: 4rem;
    }
}

@media (min-width: 478px){
    .text-overlay{
        font-size: 1.25rem;
        top: 82%;
    }
}
@media (min-width: 576px){
    .text-overlay{
        font-size: 1.75rem;
        top: 82%;
    }
}
@media (min-width: 768px){
    .text-overlay{
        font-size: 1.75rem;
        top: 85%;
    }
}
@media (min-width: 992px){
    .text-overlay{
        font-size: 1.25rem;
        top: 82%;
    }
}
@media (min-width: 1200px){
    .text-overlay{
        font-size: 1.5rem;
        top: 82%;
    }
}
