// Color Pallete
$primary : greenyellow;
$active : green;
// $background : red;
$shadow : black;
$foreground : white;
$background : rgb(164, 230, 63);

[class *= "col"]:not(button){
    padding: 1.5rem;
}

[class *= "card"]{
    border-radius: 0rem;
}

[class *= "primary"]{
    color: black ;
    border-color: $primary;
}

[class*="info"]{
    font-weight: bold;
    font-size: larger;
    color: $primary !important;
}
span,
p,
.row{
    background-color: transparent;
}

em,
address{
    margin: 0rem;
    background-color: transparent;
}
ul{
    background-color: transparent;
}
ul li{
    font-size: larger;
    font-weight: bolder;
    background-color: transparent;
}

a {
    color: $primary;
}

button.bg-primary:focus{
    background-color: $primary !important;
}

:not(:disabled):not(.disabled).active.btn-primary, 
:not(:disabled):not(.disabled).btn-primary:active, 
.show > .dropdown-toggle.btn-primary,
a.bg-primary:focus, 
a.bg-primary:hover, 
button.bg-primary:hover,
[class *= "primary"]:hover{
    color: $foreground;
    box-shadow: 0px 0px 10px $shadow !important;
    border-color: transparent;
    background-color: $active !important;
}

.img-fluid{
    width: 100%;
    height: 100%;
}

a:hover, i:hover{
    text-shadow: 0px 0px 3px $shadow;
    color: $active;
}

.bg-primary, .btn-primary{
    background-color: $primary !important;
}

.title{
    // text-shadow: 0px 0px 1px black;
    font-weight: 500;
}

.flex-item-start{
    align-items: flex-start;
}

.flex-item-end{
    align-items: flex-end;
}

.flex-item-center{
    align-items: center;
}

.overlay{
    background: gray;
    opacity: .8;
    color: $primary;
    margin: 0rem;
}

.background{
    background: url(/src/image/pepi-stojanovski-509192-unsplash.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 0rem;
}

// Social Media Link
nav a{
    margin-bottom: 1rem;
    color: $primary;
    font-size: smaller;
}

nav a i {
    margin-right: 2rem;
    margin-bottom: .5rem;
}

.card-img-overlay{
    padding: 0rem;
}

.after{
    transition: opacity 300ms ease-in;
}

.after:hover{
    opacity: 0;
    transition: opacity 1000ms ;
}

